body{
	/*background-image:url('images/Banker.jpg');*/
	background-color: #F0F0F0; 
	color:#000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:1.5;
	text-align:left;

}

a{
text-decoration:none;
}

.body{
	margin: 0 auto;
	width: 75%;
	clear: both;
}

.logo img{
	/*width:15%;
	height: auto;*/
	width:10%;
	height:40px;
	margin: 1% auto;
}

.mainheader nav{
	background-color: #0099FF;
	height:50px;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainheader nav ul{
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li{
	float:left;
} 

.mainheader nav a:link, .mainheader nav a:visited{
	color: #fff;
	display: inline-block;
	padding:15px 20px;
	height:20px;
}

.wellcome{
	color: #FF6600;
	background-color:#FFF;
	padding:1% 1%;
	margin-top: 3px;
	text-align:center;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.login-info{
	background-color: #99CCFF;
	padding: .1% 2%;
}

.login-info p{
	float:right;
	margin-top:-41px;
}

.login{
	width:48%;
	float:left;
	background-color:#FFF;
	padding: 1% 1%;
}

.login img{
	float:right;
	margin-top:-40%;
	margin-right:-90%;
}
.acc {
	margin-top:-4%;
	margin-bottom:12%;
}
.errorMessage{
	background-color:red:
	margin-top:-5%;
}
.img{
	width: 49.5%;
	float: right;
	background-color:#FFF;
	margin-right:.5px;
}

.img img{
	padding: 13% 6%;
}

.sec-info1{
	float:left;
	background-color:#FFF;
	margin-top:.2px;
	padding: .5% 1%;
	font-family:courier;
	
}

.sec-info2{
	float:left;
	margin-top:2px;
	margin-bottom:1px;
	width:50%;
	background-color:#FFF;	
	padding: 0% 1%;
	font-family:courier;
}

.sec-info3{
	float:right;
	margin-top:1px;
	margin-bottom:1px;
	width:45%;
	text-align:center;
	background-color:#FFF;	
	padding: 0% 1.2%;
	font-family:courier;
}

.sec-info3 p{
	padding-top: 11.75%;
	padding-bottom: 11.75%;
	color:green;

}

.security-det {
	color:red;
} 

.se {
	margin-top:-5%;
}

.errorMessage{
	margin-top:-4%;
	margin-bottom:1%;
}

.errorMessage {
	color:red;
}
.mainfooter{
	width:100%;
	float:left;
	height:50px;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#0099FF;
	margin-bottom:1%;
}


.mainfooter p{
	width:92%;
	margin:15px auto;
	color:#fff;
} 
