body{
	/*background-image:url('images/Banker.jpg');*/
	background-color: #F0F0F0; 
	color:#000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:1.5;
	text-align:left;
}

a{
text-decoration:none;
}

.body{
	margin: 0 auto;
	width: 75%;
	clear: both;
}

.logo img{
	/*width:15%;
	height: auto;*/
	width:10%;
	height:40px;
	margin: 1% auto;
}

.mainheader nav{
	background-color: #0099FF;
	height:50px;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainheader nav ul{
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li{
	float:left;
} 

.mainheader nav ul li ul li {
    float: none;
    z-index: 2;
background-color: #0099FF;
}

.mainheader nav ul li ul {
    position: absolute;
    display: none;
}
.mainheader nav ul li:hover ul {
    display: block;
}

.mainheader nav a:link, .mainheader nav a:visited{
	color: #fff;
	display: inline-block;
	padding:15px 20px;
	height:20px;
}

.mainheader .social-net img{
	float:right;
	padding:15px 5px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
	background-color: #0033FF;
	text-shadow:none;
}

.mainheader nav ul li a{
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.wellcome{
	color: #FF6600;
	background-color:#FFF;
	padding:1% 1%;
	margin-top: 3px;
	text-align:center;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.content{
	width: 51%;
	float:left;
}	

.content{
	background-color:#FFF;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%;
	margin-top:.25%;
}

.login-cont{
	width: 32.5%;
	float: left;
	background-color:#FFF;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left: .5%;
	margin-bottom:.5%;
	margin-top:.25%;
	padding: 4.8% 3%;	
}

.login-cont h3{
	/*margin-bottom:.5%;*/
	margin-left:10%;
	color:green;
}
.slider{
	float:left;
	margin-bottom:.5%;
	margin-top:.25%;
	margin-left:0;
}

.slider img{
	width:170%;
	height:250px;
}

@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

figure{ 
	margin: 0;
	background: #00CCFF;
	font-family: Istok Web, sans-serif;
 	font-weight: 100;
}

div#captioned-gallery{ 
 	width: 100%;
	overflow: hidden; 
}
figure.slider { 
	position: relative;
	width: 500%;
 	font-size: 0; animation: 20s slidy infinite; 
}

figure.slider figure { 
	width: 20%;
	height: auto;
 	display: inline-block;
	position: inherit; 
}

figure.slider img {
	width: 100%;
	height: 250px;
}

.mainfooter{
	width:100%;
	float:left;
	height:50px;
	border-radius: 5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#0099FF;
	margin-top:0%;
	margin-bottom:1%;
}

.mainfooter p{
	width:92%;
	margin:15px auto;
	color:#fff;
} 
